.cardSpecial .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
}

.cardSpecial .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 2px;
}

.cardSpecial .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cardSpecial .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(0, 0, 0, 0.721);
}

.cardSpecial .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
}

.cardSpecial .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.cardSpecial .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}
