.bottom-section {
  padding: 10px 5px;
  position: relative;
}
.cardSpecial {
  height: 430px;
  width: 270px;
  min-width: 270px;

  box-shadow: 0px 0px 50px -30px #000000;
}
.cardSpecial:hover {
  scale: 1.02;
}
.titlo {
  height: 45px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 2px;
}

.bottom-section .row .item {
  text-align: center;
  padding: 5px;
  color: rgba(0, 0, 0, 0.721);
}

.bottom-section .row .item .big-text {
  font-size: 13px;
  display: block;
}

.bottom-section .row .item .regular-text {
  font-size: 12px;
}

.cardSpecial .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}
@media (max-width: 1200px) {
  .titlo {
    font-size: small;
  }
}
