.cardInterni {
  height: 300px;
  border-radius: 10px;
  display: flex;
  /* gap: 5px; */
  padding: 0.1em;
  background-color: white;
}

.cardInterni div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInterni div:hover {
  flex: 4;
}
.cardInterni div:hover div {
  display: block;
}
.cardInterni div div {
  display: none;
}

.cardInterni div span {
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
  transform: rotate(0deg);
  transition: all 0.5s;

  text-transform: uppercase;
  text-orientation: upright;
  writing-mode: vertical-lr;
  letter-spacing: 0.1em;
}

.cardInterni div:hover span {
  transform: rotate(90);
  writing-mode: horizontal-tb;
}
