.main {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 130px;
  height: 130px;
  outline: none;
  border: none;
  border-radius: 130px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.ImgCard {
  width: 130px;
  height: 130px;
  border-radius: 130px 5px 5px 5px;
  object-fit: cover;
}

.card2 {
  width: 130px;
  height: 130px;
  outline: none;
  border: none;
  /* background-color: #efd68b; */
  background-color: white;
  border-radius: 5px 130px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card3 {
  width: 130px;
  height: 130px;
  outline: none;
  border: none;
  /* background-color: #cad9ba; */
  background-color: white;
  border-radius: 5px 5px 5px 130px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card4 {
  width: 130px;
  height: 130px;
  outline: none;
  border: none;
  /* background-color: #be311a; */
  background-color: white;
  border-radius: 5px 5px 130px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cad9ba;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #efd68b;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cad9ba;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #be311a;
}