@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;700&display=swap");

body {
  font-family: "Rethink Sans", sans-serif;
}
body::-webkit-scrollbar {
  color: #00000000;
  width: 0;
}

.oV::-webkit-scrollbar {
  color: #00000000;
}

.carousel-control-next {
  top: 10%;
}
.carousel-control-prev {
  top: 11%;
}

.cardSpecialPrenotazioni:hover {
  scale: 1.02;
}
.cardSpecialPrenotazioni {
  height: 430px;
  width: 270px;
  min-width: 270px;
  box-shadow: 0px 0px 50px -30px #000000;
}

/* Home-- */

.ContainerTitle {
  font-family: "Rowdies", sans-serif;
  font-size: 1.4em;
  color: white;
  background: linear-gradient(180deg, #144658, #144658);
}

.btn-radius-start-0 {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-radius-end-0 {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* Navbar-- */

.NavBar {
  padding: 0;
  /* background: linear-gradient(180deg, #1976d2, #2196f3); */
  background: linear-gradient(180deg, #144658, #a8d47900);
}
.color-link-nav {
  color: white;
  font-weight: bold;
}
.logo {
  font-family: "Rowdies", sans-serif;
  font-size: 1.4em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggler {
  border-color: aliceblue;
}
.navItemsVehicle {
  font-family: "Rowdies", sans-serif;
  margin-inline: 0.4rem;
  border-radius: 5px;
  background-color: #144658;
  overflow: hidden;
}
.navItemsVehicle:hover {
  font-family: "Rowdies", sans-serif;
  background-color: #144658;
  overflow: hidden;
}
/* --------------Navbar-------------- */

.buttonCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.buttonCard:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffc007;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.buttonCard:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.buttonCard a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.buttonCard:hover a {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.DDHome {
  background: linear-gradient(180deg, #2196f3, #65b0ee);
}
.ContainerProfileMain {
  background: linear-gradient(180deg, #144658, #144658);
}
.ContainerProfileWhite {
  /* background: linear-gradient(180deg, #14465850, #14465850); */
  background-color: rgba(255, 255, 255);
}
.containerBlog {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}
.sidebarCircle {
  max-width: 320px;
  background: linear-gradient(180deg, #144658, #144658);
}
.ResultPage {
  background: linear-gradient(180deg, #144658, #144658);
}
.Result {
  background: linear-gradient(180deg, #144658, #144658);
}
.BtnPrenotazione {
  background: linear-gradient(180deg, #144658, #144658);
}
.FiltriSideBar {
  max-width: 320px;
  background-color: white;
  border-radius: 20px;
}
.NavProfile {
  background: linear-gradient(180deg, #144658, #144658);
  height: 60px;
  font-weight: bolder;
}
.ContainerProfile {
  border-radius: 20px;
  background-color: white;
}
.Profile {
  background: linear-gradient(180deg, #144658, #144658);
}

.SinglePostAll:hover {
  scale: 1.01;
}

.SinglePost {
  /* font-family: "Rethink Sans", sans-serif; */
}
.SinglePostER {
  text-decoration: none;
  color: black;
  font-family: "Rethink Sans", sans-serif;
}

/* .shadow-p {
  box-shadow: inset 0px 0px 100px -1px #0000007b;
  border-radius: 5px;
} */

.registerButton {
  max-width: 100px;
  background-color: #ffc007;
  border: none;
}

.registerButton:hover {
  background-color: rgb(10, 31, 56);
  scale: 1.005;
}

.event-container {
}

/* MEDIA SCREEN---------------------------- */
@media (min-width: 990px) {
  .btn-nav-none {
    display: none !important;
  }
}
@media (max-width: 996px) {
  .RegisterRow {
    display: flex !important;
    flex-direction: column !important;
  }
  .ColRegisterForm {
    margin-block: 2.5rem;
  }
}
@media (max-width: 990px) {
  .btn-nav {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .FormHome {
    display: block !important;
  }
  .btn-Form {
    width: 100%;
  }
  .btn-radius-start-0 {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .btn-radius-end-0 {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .shadow-p {
    display: none;
  }

  .calendar-container {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media (max-width: 531px) {
  .NavProfileLinkImg {
    display: none;
  }
}
@media (max-width: 575px) {
  .Register {
    height: 155vh !important;
    font-size: 0.8em;
  }
  .Register textarea {
    width: 300px !important;
  }
  .p-stile {
    position: unset !important;
    top: unset !important;
  }
  .col-stile {
    background-image: unset !important;
  }
}
@media (max-width: 800px) {
  .Register {
    font-size: 0.9em;
  }
}
@media (max-width: 1000px) {
  .Register textarea {
    height: 100px !important;
  }
  .ImgFooter {
    display: none;
  }
  .FiltriSideBar {
    display: none;
  }
}
@media (max-width: 576px) {
  .ImgFooter {
    display: block;
  }
}
@media (max-width: 1382px) {
  .QueryCenterResult {
    justify-content: center;
  }
}
@media (max-width: 1240px) {
  /* .FiltriSideBar {
    display: none;
  } */
  .sidebarCircle {
    display: none !important;
  }
  .ComeFunziona {
    height: 200vh;
  }
  .ColSidebarFiltri {
    display: none;
  }
}
@media (min-width: 1240px) {
  .NavProfileLink {
    display: none;
  }
  .mediaQueryCalendario {
    display: none;
  }
}
/* @media (min-width: 1400px) {
  .Result {
    display: flex !important;
    flex-direction: row !important;
  }
} */
@media (min-width: 700px) {
  .ColArrangement {
    display: flex;
    flex-direction: column;
  }
  .FormArrangement {
    display: flex;
    max-height: 45vh;
  }
}

textarea {
  border: none !important;
}
/* ---------------------------- */

/* ----------CALENDAR REACT------------------ */
.react-datepicker__input-container {
  width: 100%;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-calendar {
  width: inherit !important;
  max-width: inherit !important;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.2s;
}

.react-calendar--doubleView {
  width: 100%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #007bff;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0056b3;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.event-form {
  margin-bottom: 20px;
}

.event-form h2 {
  margin-bottom: 10px;
  color: #007bff;
}

.event-form p {
  font-size: 1.2rem;
  color: #1403f6;
}

.event-form input {
  padding: 8px;
  font-size: 1rem;
  margin-right: 10px;
}

.create-btn {
  padding: 8px 16px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-btn:hover {
  background-color: #ff267f;
}

.event-list {
  margin-top: 20px;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 2s, box-shadow 2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.event-date {
  color: #f07809;
}

.update-btn,
.delete-btn {
  font-size: 2em;
  cursor: pointer;
}

.update-btn:hover,
.delete-btn:hover {
  scale: 1.2;
}

.selected {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}

.event-marked {
  background-color: #ff4081;
  color: rgb(0, 0, 0);
}
/* ---------------------------- */
